.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.content {
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
  min-width: 300px;
  max-width: min(90vw, 1440px);
  width: 100%;
  max-height: 90vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.closeButton {
  position: sticky;
  display: block;
  margin-left: auto;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;

  font-size: 1.5rem;
  color: var(--primary-color);

  border: none;
  background: none;
  cursor: pointer;
}
