@use "../variables" as *;

// Layout
.product-cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

// Product cards
.product-card-link {
  text-decoration: none;
  color: $text-color;
}

.product-card-wrapper {
  height: 100%;
  min-height: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px 0 rgba(60, 52, 67, 0.4);
  transition: all 0.3s ease-in-out;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-card-wrapper img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  height: 300px;
}

.product-card-wrapper:hover {
  box-shadow: 0 4px 20px 0 rgba(60, 52, 67, 0.4);
  transform: translateY(-1px);
}

.product-card-wrapper.dummy {
  opacity: 0.5;
}

a:has(.product-card-wrapper.dummy) {
  cursor: default;
  pointer-events: none;
}

.product-card-wrapper footer {
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 20px;
}
