.product-page {
  padding: 20px;
}

.product-wrapper {
  margin: 60px auto 80px;
  max-width: min(90vw, 1100px);

  display: grid;
  grid-template-columns: 60% 1fr;
  gap: 50px;
}

.product-image-wrapper {
  position: relative;
}

.product-image img {
  width: 100%;
  object-fit: cover;
}

.product-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.try-on-button {
  position: absolute;
  right: 0;
  left: 0;
  top: -20px;
  margin: auto;
  z-index: 1;
}
