// ==========================================================================
//    Box model mixins
//==========================================================================

// Añade un border-radius al elemento
@mixin border-radius($radius: var(--border-default), $important: null) {
  background-clip: padding-box $important;
  -webkit-border-radius: $radius $important;
  -moz-border-radius: $radius $important;
  border-radius: $radius $important;
}

// Añade un border-radius al elemento
@mixin border-radius-top-bottom-left($radius, $important: null) {
  background-clip: padding-box $important;
  -webkit-border-top-left-radius: 4px $important;
  -webkit-border-bottom-left-radius: 4px $important;
  -moz-border-radius-topleft: 4px $important;
  -moz-border-radius-bottomleft: 4px $important;
  border-top-left-radius: 4px $important;
  border-bottom-left-radius: 4px $important;
}

// Añade un border-radius al elemento
@mixin border-radius-top-bottom-right($radius, $important: null) {
  background-clip: padding-box $important;
  -webkit-border-top-right-radius: 4px $important;
  -webkit-border-bottom-right-radius: 4px $important;
  -moz-border-radius-topright: 4px $important;
  -moz-border-radius-bottomright: 4px $important;
  border-top-right-radius: 4px $important;
  border-bottom-right-radius: 4px $important;
}

// Añade un border-radius al elemento
@mixin border-radius-top-left-right($radius, $important: null) {
  background-clip: padding-box $important;
  -webkit-border-radius: $radius $important;
  -webkit-border-bottom-right-radius: 0 $important;
  -webkit-border-bottom-left-radius: 0 $important;
  -moz-border-radius: $radius $important;
  -moz-border-radius-bottomright: 0 $important;
  -moz-border-radius-bottomleft: 0 $important;
  border-radius: $radius $important;
  border-bottom-right-radius: 0 $important;
  border-bottom-left-radius: 0 $important;
}

// Añade un border-radius al elemento
@mixin border-radius-bottom-left-right($radius, $important: null) {
  background-clip: padding-box $important;
  -webkit-border-radius: $radius $important;
  -webkit-border-top-left-radius: 0 $important;
  -webkit-border-top-right-radius: 0 $important;
  -moz-border-radius: $radius $important;
  -moz-border-radius-topleft: 0 $important;
  -moz-border-radius-topright: 0 $important;
  border-radius: $radius $important;
  border-top-left-radius: 0 $important;
  border-top-right-radius: 0 $important;
}

@mixin no-padding($side) {
  @if $side == 'all' {
    .no-padding {
      padding: 0 !important;
    }
  } @else {
    .no-padding-#{$side} {
      padding-#{$side}: 0 !important;
    }
  }
}

// Posiciona un elemento de forma absoluta ocupando el 100% de su contenedor padre
@mixin position-absolute-full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
